
.imgDiv {
    height: 100%;
    width: 100%;
}

/* 
body:hover .imgDiv:not(:hover) {
    filter: blur(12px);
  } */

  body:hover .imgDiv { opacity:0.5;  transition: opacity .7s ease-in-out .5s}
  body .imgDiv:hover { opacity:1;   }

  /*///////////////////////
  First para component */

  .blinker{
    animation: blink 1s linear infinite;
  }

  @keyframes blink{
    50%{
      opacity: 0;
    }
  }